.header {
  font-size: 28px;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  margin-top: 100px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .header {
    margin-top: 20%;
  }
}
